:root{
  --blush:#FFDBBB;
  --sand: #CCBEB1;
  --clay: #997E67;
  --bark: #664930;
  --wine: #64242F;
  --coral: #B44446;
  --rose:#FC8F8F;
  --stone: #DFD9D8;
  --dark: #2C1A0E;
  --white: #FDFAF7;
  --text-soft: #8b776d;

--font-display: 'Cormorant Garamond', serif;
--font-body: 'Jost', sans-serif;
}

*{
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth;
} */
body{
    margin: 0;
    background: var(--white);
    color: var(--dark);
    font-family: var(--font-body);
    font-weight: 400;
}
img{
    max-height: 100%;
    display: block;
}
a{
    text-decoration: none;
}